<h1>Login</h1>

<%= form_for(:session, login_path) do |f| %>
  <strong><%= f.label :email %></strong> <%= f.text_field :email  %><br>
  <strong><%= f.label :password %></strong> <%= f.password_field :password  %><br>
  <%= f.submit "Login" %>
<% end %>

<p><%= button_to "Login with Github", '/auth/github' %></p>

<p>New user? <%= link_to "Sign up!", new_user_path %></p>