<h1>Login</h1>

<%= form_tag(login_path) do %>
  Email: <%= text_field_tag 'session[email]'%>
  Password: <%= password_field_tag 'session[password]'%>
  <%= submit_tag('Login') %>
<% end %>

<p><%= link_to "Login via Github", user_github_omniauth_authorize_path %></p>

<p>Are you a new user? <%= link_to "Sign up!", signup_path %></p>