<% content_for :header do %>
  <h1><%= @task.name %></h1>
  <p><em><%= @task.description %></em></p>
<% end %>

<% content_for :content do %>
  <%= link_to 'Add Task', new_task_path(@task) %>
  <%= link_to 'Edit Task', edit_task_path(@task) %>
  <%= link_to 'Create New Project', new_project_path %>
  <%= link_to 'Back', tasks_path %>
<% end %>
