<% content_for :header do %>
  <h1><%= @task.name %></h1>
  <p><em><%= @task.description %></em></p>
<% end %>

<% content_for :content do %>
  <%= link_to 'Add Task', new_task_path(@task), class: 'btn btn-primary'  %>
  <%= link_to 'Edit Task', edit_task_path(@task), class: 'btn btn-primary'  %>
  <%= link_to 'Create New Project', new_project_path, class: 'btn btn-primary'  %>
  <%= link_to 'Back', :back, class: 'btn btn-primary'  %>
<% end %>
