<% if project_task.errors.any? %>
  <ul>
      <% project_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  </ul>
<% end %>

<%= form_for :project_task do |f| %>
    <strong><%= f.label :name %></strong>
    <%= f.text_field :name, class:"form-control" %><br>
    <strong><%= f.label :description %></strong>
    <%= f.text_area :description, class:"form-control" %><br>
    <strong><%= f.label :due_date %></strong>
    <%= f.date_field :due_date, class:"form-control" %><br>

    <%= f.fields_for :task do |t| %>
        <strong><%= t.label :task %></strong>
        <%= t.collection_select(:task_ids, Task.all, :id, :name, prompt: true)%>
    <br>

        <%= t.fields_for :user do |u| %>
            <strong><%= t.label :user%></strong>
            <%= u.collection_select(:user_ids, User.all, :id, :email, prompt: true)%>
        <% end %>
    <% end %>

  <%= f.submit class: "btn btn-primary" %>
<% end %>