<% content_for :header do %>
  <h1><%= @project_task.name %></h1>
<% end %>

<% content_for :content do %>
    <ul>
        <% @project_task.done.each do |pt| %>
            <li><%= pt.name %></li>
        <% end %>
    </ul>

    <br>
    <br>
    <%= link_to 'Add Project Task', new_project_project_task_path(@project_task) %>
    <%= link_to 'Edit Project Task', edit_project_project_task_path(@project_task) %>
    <%= link_to 'Create New Project', new_project_path %>
    <%= link_to 'Back', project_project_tasks_path %>
<% end %>