<% content_for :header do %>
    <h1>Project Tasks:</h1>
<% end %>

<% content_for :content do %>
    <%= link_to "Create New Project Task", new_user_project_project_task_path(@user, @project, @project_task), class: 'btn btn-primary'  %>
        <% @project_tasks.each do |project_task| %>
            <div class="card border-info mb-3">
                <div class="card-body">
                    <h3>Name:<%= link_to project_task.name, user_project_project_task_path(@user, @project, project_task), class: 'btn btn-primary' %></h3>
                    <p>Description:<%= project_task.description, class: 'btn btn-primary'  %></p>
                    <strong>Due:<%= project_task.due_date %></strong>
                    <%= link_to 'Project', user_project_path(@user, @project), class: 'btn btn-primary'  %>
                </div>
            </div>
        <% end %>

<% end %>
