<% content_for :header do %>
    <div class="container text-center">
        <h1>Project Tasks:</h1>
    </div>
<% end %>

<% content_for :content do %>
    <div class="container text-center mb-3">
        <%= link_to "Create New Task", new_user_project_project_task_path(@user, @project, @project_task), class: 'btn btn-primary'  %>
            <% @project_tasks.each do |project_task| %>
                <div class="card border-info mb-3 mt-3">
                    <div class="card-body">
                        <h3><%= link_to project_task.name, user_project_project_task_path(@user, @project, project_task)%></h3>
                        <p>Description:<br> <%= project_task.description %></p>
                        <strong>Due:<br><%= project_task.due_date %></strong><br>
                        <%= link_to 'Back to Project', user_project_path(@user, @project), class: 'btn btn-primary'  %>
                    </div>
                </div>
            <% end %>
    </div>
<% end %>
