<% content_for :header do %>
  <h1><%= @project_task.name %></h1>
  <p><em><%= @project_task.description %></em></p>
  <p><em><%= @project_task.due_date %></em></p>
  <p><em><%= check_box_tag(@project_task.done?) %></em></p>
<% end %>

<% content_for :content do %>
  <%= link_to 'Add Project Task', new_user_project_project_task_path(@user, @project_task) %>
  <%= link_to 'Edit Project Task', edit_project_task_path(@user, @project_task) %>
  <%= link_to 'Create New Project', new_user_project_path(@user) %>
  <%= link_to 'Back', user_project_project_tasks_path(@user) %>
<% end %>