<% content_for :header do %>
  <div class="form-group mt-2 text-center">
    <h1><%= @project_task.name %></h1>
    <p><em>Description:<br><%= @project_task.description %></em></p>
    <p><em>Due:<br><%= @project_task.due_date %></em></p>
    <p><em>Done: <%= check_box_tag(@project_task.done?) %></em></p>
  </div>
<% end %>

<% content_for :content do %>
  <div class="form-group mt-2 text-center">
    <%= link_to 'Edit Project Task', edit_user_project_project_task_path(@user, @project, @project_task), class: 'btn btn-primary' %>
    <%= link_to 'Delete Project Task', user_project_project_task_path(@user, @project, @project_task), method: :delete, class: 'btn btn-primary' %>
    <%= link_to 'Back', :back, class: 'btn btn-primary' %>
  </div>
<% end %>