<% content_for :header do %>
  <h1>Sign Up for DevHub</h1>
<% end %>

<% content_for :content  do %>
<!-- Error Catching -->
<% if @user.errors.any? %>
<div class="error_explanation">
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<!-- User Signup -->
<%= form_for @user do |f| %>
  <strong><%= f.label :password %></strong> <%= f.password_field :password %><br>
  <strong><%= f.label :email %></strong> <%= f.text_field :email %><br>
  <strong><%= f.label :password %></strong> <%= f.password_field :password %><br>
  <strong><%= f.label :admin? %></strong> <%= f.check_box :admin? %><br>
  <%= f.submit "Create my account" %>
<% end %>


<p>Already have an Account? <%= link_to "Log In", new_user_session_path %></p>
<br>
<!-- Third Party Signup -->
<p><%= link_to "Sign In via Github", user_github_omniauth_authorize_path %></p>
<% end %>
