
    <div class = "container">
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= f.hidden_field :prject_id, :value => @project.id %>
    <strong><%= f.label :name %></strong>
    <%= f.text_field :name, class:"form-control" %><br>
    <strong><%= f.label :description %></strong>
    <%= f.text_area :description, class:"form-control" %><br>
    <strong><%= f.label :due_date %></strong>
    <%= f.date_field :due_date, class:"form-control" %><br>
    </div>
  <%= f.submit 'Submit', class: "btn btn-primary" %>
