<% content_for :header do %>
    <div class="text-center">
        <h1>Projects:</h1>
    </div>
<% end %>

<% content_for :content do %>
    <div class="text-center">
        <% @projects.each do |project| unless @projects.nil? %>
            <div class="card border-info mb-3">
                <div class="card-body">
                    Name:<h5 class="card-title"><%= link_to project.name, user_project_path(@user, project) %></h5>
                    Description:<p class="card-text"><%= project.description %><p>
                    Due Date:<h5 class="card-text"><%= project.due_date %></h5>
                    <%= link_to 'Create Task', new_user_project_project_task_path(@user, project), class: "btn btn-primary"  %>
                </div>
            </div>
        <% end %>
    <% end %>
    <br>
    <br>
    <p><%= link_to "Create New Project", new_user_project_path(@user), class: "btn btn-primary" %></p>
    </div>
<% end %>