<% if @project.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@project.errors.count, "error") %>
      prohibited this project from being saved:
    </h2>

    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<h1>Add Project</h1>
<%= form_for(@project) do |f| %>
<!-- to submit form to using nested create route -->
<%#= form_for(@house, url: user_houses_path(@house.user)) do |f| %>
  <%#= form_tag('/users')%>
  Name: <%= f.text_field :name %><br/>
  Description: <%= f.text_area :description, required: false %><br/>
  Due Date: <%= f.datetime_field :due_date, required: false %><br/>

  <%= f.submit("Create Project")%>
<% end %>
