<% content_for :header do %>
    <div class="text-center">
        <h1><%= link_to @project.name, user_project_path(@user, @project) %></h1>
        <p>Description: <%= @project.description %></p>
        <strong>Due:<%= @project.due_date %></strong>
    </div>

    <div class="text-center mt-4">
            <%= link_to 'Add New Task', new_user_project_project_task_path(@user, @project), class: 'btn btn-primary' %>
    </div>

<% content_for :content do %>
    <% @project.project_tasks.each do |pt| %>
        <div class="card border-info mb-3">
            <div class="card-body text-center">
                <h3><%= link_to pt.name,  user_project_project_task_path(@user, @project, pt)%></h3>
                Description: <strong><%= pt.description %></strong><br>
                Due Date: <strong><%= pt.due_date %></strong><br>
                Done: <%= check_box_tag pt.done? %><br>
                <%= link_to 'Delete Task', user_project_project_task_path(@user, @project, pt), method: :delete, class: 'btn btn-primary' %>
            </div>
        </div>
        <% end %>
    <% end %>
    <% end %>
        <div class="form-group mt-2 text-center">
            <%= link_to 'Edit Project', edit_user_project_path(@user, @project), class: 'btn btn-primary' %>
            <%= link_to 'Delete Project', user_project_path(@user, @project), method: :delete , class: 'btn btn-primary'%>
            <%= link_to 'Back', :back , class: 'btn btn-primary'%>
        </div>
