<% content_for :content %>

<h1><%= @project.name %></h1>
<p><%= @project.description %></p>
<strong><%= @project.due_date %></strong>

<%= link_to 'Edit Project', edit_project_path(@project) %>
<%= link_to 'Create New Project', new_project_path %>
<%= link_to 'Back', projects_path %>
