<!DOCTYPE html>
<html>
  <head>
    <title>Devhub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: "shared/nav" %>
    <%= render partial: "shared/alerts" %>

    <div class="container mt-5">
      <%= yield :header %>
      <div class="container mt-2">
        <%= yield :content %>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
